footer
  .container-fluid
    .row
      .top_footer.clearfix
        .col-xs-12.col-sm-6.col-md-3
          .f_block
            .f_logo.
              logo
            .f_content.
              iPress is a  magazine Wordpress Theme. Nunc montes odio phasellus dignissim, aenean, nec augue velit integer elementum ut montes quis integer cursus, est purus, lectus duis, scelerisque tincidunt ultricies phasellus elementum turpis tristique.
            .f_email.
              Email: poruchenko@ukr.net
        .col-xs-12.col-sm-6.col-md-3
          .f_block
            p.f_title
              strong.
                Recent Posts
            .f_content.clearfix
              ul
                li
                  img(src="#")
                  a(href="#") A New Yorker doesn't necessarily come from...
                    span 15 days ago
                li
                  img(src="#")
                  a(href="#") text
                    span 1 day ago
                li
                  img(src="#")
                  a(href="#") text
                    span 15 days ago
        .col-xs-12.col-sm-6.col-md-3
          .f_block
            p.f_title.conus.
              Recent Posts
            .f_content
              ul
                li
                  img(src="#")
                  a(href="#") A New Yorker doesn't necessarily come from...
                    span 15 days ago
                li
                  img(src="#")
                  a(href="#") text
                    span 1 day ago
                li
                  img(src="#")
                  a(href="#") text
                    span 15 days ago
        .col-xs-12.col-sm-6.col-md-3
          .f_block
            p.f_title.conus.
              Recent Posts
            .f_content
              p.
                To receive the latest updates and Latest Posts enter your email.
              from
                input(
                  type='email'
                  name='email'
                  placeholder='type youre email'
                  )
                input(
                  type='submit'
                  value=''
                  )
  .container-fluid
    .row
      .bot_footer.clearfix
        .col-xs-12.
          &copy; codegrabber 2016
